# *Hourly Mean Relative humidity data*

In [1]:
import os
from pandas import *
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import datetime as datetime
from timeseries_writer import *
oms_project_path = os.getcwd()

In [2]:
os.chdir(oms_project_path+"/SpikeII")
os.listdir()

['DemSpikeIIcut.tif',
 'ShortwaveDiffuse_1_new.csv',
 'VPD.csv',
 '.DS_Store',
 'skyviewSpikeII.asc.aux.xml',
 'centroid.dbf',
 'centroid.qix',
 'Rel_Hum.csv',
 'centroid.shx',
 '15ShortwaveDirect_1_new.csv',
 'centroid.shp',
 'ShortwaveDirect_1_new.csv',
 'icRootSpikeII_B.csv',
 'icRootSpikeII_C.csv',
 '15ShortwaveDiffuse_1_new.csv',
 'skyviewSpikeII.asc',
 'icRootSpikeII_A.csv',
 'Solar_Radiation.csv',
 '15LongDownwelling_1.csv',
 'DemSpikeIIcut.prj',
 'AirTemperature15m.csv',
 'DEMtaglio1.tif',
 'LongUpwelling_1.csv',
 'Wind_Speed1h',
 '15Net_1.csv',
 '15LongUpwelling_1.csv',
 'centroid.prj',
 'SWTotal_1_new.csv',
 '15SWTotal_1_new.csv',
 'LongDownwelling_1.csv',
 'Precip_Irrig.csv',
 'Net_1.csv',
 'DemSpikeIIcut.tif.aux.xml',
 'Wind_Speed.csv',
 'skyviewSpikeII.prj',
 'AirTemperature1h']

### Open dataset

In [3]:
df_15min = pd.read_csv('Rel_Hum.csv',skiprows=6,parse_dates=[1])
df_15min = df_15min.drop(['Format'],axis=1) 
df_15min.columns = ['Time','RH']
df_15min.set_index('Time',inplace=True)
df_15min

                      RH
Time
2018-05-10 00:00:00  100
2018-05-10 00:15:00  100
2018-05-10 00:30:00  100
2018-05-10 00:45:00  100
2018-05-10 01:00:00  100
...                  ...
2018-07-01 22:45:00   57
2018-07-01 23:00:00   57
2018-07-01 23:15:00   58
2018-07-01 23:30:00   58
2018-07-01 23:45:00   58

[5088 rows x 1 columns]

### Extracting dataset

If you want to select data by time, use this code

#crei una serie temporale con le date orarie
date_rng=pd.date_range(start='2018-05-10 00:00',end='2018-07-01 00:00',freq='1H')

#crei il dataframe con le date
df_dates = pd.DataFrame({'Time': date_rng})
df_dates.set_index('Time',inplace=True)

#estrai dal dataframe di 15 min le date che ti servono
df_dates = df_dates.join(df_15min, how='inner')
df_dates.head()

If you want to create an hourly time series using the mean:

In [4]:
df=df_15min.resample('1H').mean()
df

                         RH
Time
2018-05-10 00:00:00  100.00
2018-05-10 01:00:00  100.00
2018-05-10 02:00:00  100.00
2018-05-10 03:00:00  100.00
2018-05-10 04:00:00  100.00
...                     ...
2018-07-01 19:00:00   45.50
2018-07-01 20:00:00   50.25
2018-07-01 21:00:00   54.75
2018-07-01 22:00:00   56.50
2018-07-01 23:00:00   57.75

[1272 rows x 1 columns]

In [5]:
ID_basin = 1

In [6]:
df.reset_index(inplace=True)
df

                    Time      RH
0    2018-05-10 00:00:00  100.00
1    2018-05-10 01:00:00  100.00
2    2018-05-10 02:00:00  100.00
3    2018-05-10 03:00:00  100.00
4    2018-05-10 04:00:00  100.00
...                  ...     ...
1267 2018-07-01 19:00:00   45.50
1268 2018-07-01 20:00:00   50.25
1269 2018-07-01 21:00:00   54.75
1270 2018-07-01 22:00:00   56.50
1271 2018-07-01 23:00:00   57.75

[1272 rows x 2 columns]

In [7]:
df.insert(loc=0, column='-', value=np.nan)
df.head()

    -                Time     RH
0 NaN 2018-05-10 00:00:00  100.0
1 NaN 2018-05-10 01:00:00  100.0
2 NaN 2018-05-10 02:00:00  100.0
3 NaN 2018-05-10 03:00:00  100.0
4 NaN 2018-05-10 04:00:00  100.0

In [8]:
write_timeseries_csv(df,'Rel_Hum1h',ID_basin)

***SUCCESS writing!  Rel_Hum1h