# *Hourly cumulative Precipitation-Irrigation data*

In [1]:
import os
from pandas import *
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import datetime as datetime
from timeseries_writer import *
oms_project_path = os.getcwd()

In [2]:
os.chdir(oms_project_path+"/SpikeII")
os.listdir()

['DemSpikeIIcut.tif',
 '.DS_Store',
 'skyviewSpikeII.asc.aux.xml',
 'centroid.dbf',
 'centroid.qix',
 'icRootSpikeIImean.csv',
 'centroid.shx',
 'icRootSpikeII.csv',
 'centroid.shp',
 'Wind_Speed15m.csv',
 'icRootSpikeII_B.csv',
 'icRootSpikeII_C.csv',
 'skyviewSpikeII.asc',
 'icRootSpikeII_A.csv',
 'VPD1h',
 'Solar_Radiation.csv',
 'DemSpikeIIcut.prj',
 'AirTemperature15m.csv',
 'DEMtaglio1.tif',
 'Rel_Hum1h',
 'Wind_Speed1h',
 'Rel_Hum15m.csv',
 'centroid.prj',
 'Solar_Radiation1h',
 'Precip_Irrig.csv',
 'VPD15m.csv',
 'DemSpikeIIcut.tif.aux.xml',
 'skyviewSpikeII.prj',
 'AirTemperature1h']

### Open dataset

In [3]:
df_15min = pd.read_csv('Precip_Irrig.csv',skiprows=6,parse_dates=[1])
df_15min = df_15min.drop(['Format'],axis=1) 
df_15min.columns = ['Time','Precip_Irrig']
df_15min.set_index('Time',inplace=True)
df_15min[32:41]

                     Precip_Irrig
Time
2018-05-10 08:00:00        0.0000
2018-05-10 08:15:00        0.0499
2018-05-10 08:30:00        0.8820
2018-05-10 08:45:00        0.5236
2018-05-10 09:00:00        0.8845
2018-05-10 09:15:00        2.1078
2018-05-10 09:30:00        2.1131
2018-05-10 09:45:00        3.5780
2018-05-10 10:00:00        2.0777

### Extracting dataset

I dati ricevuti sono di intensita di pioggia mm/h. WHETGEO necessita di mm di pioggia caduti nell'arco temporale che metteremo come temporalStep. 
Quindi si deve prima passare in mm e poi fare la cumulata oraria. Quindi moltiplichiamo per 0.25 ottenendo l'altezza di precipiatazione in 15 min e poi facciamo la cumulata per ottenere i valori orari

In [4]:
df_15min_h =df_15min.assign( Precip_Irrig_h = df_15min['Precip_Irrig'] * 0.25)
df_15min_h[32:41]

                     Precip_Irrig  Precip_Irrig_h
Time
2018-05-10 08:00:00        0.0000        0.000000
2018-05-10 08:15:00        0.0499        0.012475
2018-05-10 08:30:00        0.8820        0.220500
2018-05-10 08:45:00        0.5236        0.130900
2018-05-10 09:00:00        0.8845        0.221125
2018-05-10 09:15:00        2.1078        0.526950
2018-05-10 09:30:00        2.1131        0.528275
2018-05-10 09:45:00        3.5780        0.894500
2018-05-10 10:00:00        2.0777        0.519425

In [8]:
df_hourly = df_15min_h.resample('1H').sum(min_count=1)
df_hourly[7:10]

                     Precip_Irrig  Precip_Irrig_h
Time
2018-05-10 07:00:00        0.0000        0.000000
2018-05-10 08:00:00        1.4555        0.363875
2018-05-10 09:00:00        8.6834        2.170850

In [9]:
df_hourly.reset_index(inplace=True)
df_hourly

                    Time  Precip_Irrig  Precip_Irrig_h
0    2018-05-10 00:00:00           0.0             0.0
1    2018-05-10 01:00:00           0.0             0.0
2    2018-05-10 02:00:00           0.0             0.0
3    2018-05-10 03:00:00           0.0             0.0
4    2018-05-10 04:00:00           0.0             0.0
...                  ...           ...             ...
1267 2018-07-01 19:00:00           0.0             0.0
1268 2018-07-01 20:00:00           0.0             0.0
1269 2018-07-01 21:00:00           0.0             0.0
1270 2018-07-01 22:00:00           0.0             0.0
1271 2018-07-01 23:00:00           0.0             0.0

[1272 rows x 3 columns]

In [10]:
ID_basin = 1

In [11]:
df_hourlyI=df_hourly[['Time','Precip_Irrig']]
df_hourlyI.head()

                 Time  Precip_Irrig
0 2018-05-10 00:00:00           0.0
1 2018-05-10 01:00:00           0.0
2 2018-05-10 02:00:00           0.0
3 2018-05-10 03:00:00           0.0
4 2018-05-10 04:00:00           0.0

In [12]:
df_hourlyI.insert(loc=0, column='-', value=np.nan)
df_hourlyI.head()

    -                Time  Precip_Irrig
0 NaN 2018-05-10 00:00:00           0.0
1 NaN 2018-05-10 01:00:00           0.0
2 NaN 2018-05-10 02:00:00           0.0
3 NaN 2018-05-10 03:00:00           0.0
4 NaN 2018-05-10 04:00:00           0.0

In [13]:
write_timeseries_csv(df_hourlyI,'Prec_Irrig_Intensity_hourly',ID_basin)

***SUCCESS writing!  Prec_Irrig_Intensity_hourly

In [14]:
df_hourlyH=df_hourly[['Time','Precip_Irrig_h']]
df_hourlyH.head()

                 Time  Precip_Irrig_h
0 2018-05-10 00:00:00             0.0
1 2018-05-10 01:00:00             0.0
2 2018-05-10 02:00:00             0.0
3 2018-05-10 03:00:00             0.0
4 2018-05-10 04:00:00             0.0

In [15]:
df_hourlyH.insert(loc=0, column='-', value=np.nan)
df_hourlyH.head()

    -                Time  Precip_Irrig_h
0 NaN 2018-05-10 00:00:00             0.0
1 NaN 2018-05-10 01:00:00             0.0
2 NaN 2018-05-10 02:00:00             0.0
3 NaN 2018-05-10 03:00:00             0.0
4 NaN 2018-05-10 04:00:00             0.0

In [16]:
write_timeseries_csv(df_hourlyH,'Prec_Irrig_Height_hourly',ID_basin)

***SUCCESS writing!  Prec_Irrig_Height_hourly